.flex_container {
    height: 100%;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    div {
        //height: 100%;
        width: 100%;
        text-align: center;

        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column;
    }

    .category {
        font-size: 30pt;
        flex-grow: 1;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: black;
    }

    .clue {
        font-size: 50pt;
        flex-grow: 8;
    }

    .response {
        font-size: 50pt;
        flex-grow: 8;
        border-top-width: 2px;
        border-top-style: solid;
        border-top-color: black;
    }
}