<div class="board">
  <div class="category"><span>{{ categories[0] }}</span></div>
  <div class="category"><span>{{ categories[1] }}</span></div>
  <div class="category"><span>{{ categories[2] }}</span></div>
  <div class="category"><span>{{ categories[3] }}</span></div>
  <div class="category"><span>{{ categories[4] }}</span></div>
  <div class="category"><span>{{ categories[5] }}</span></div>

  <div class="clue" (click)="clueClick(0,0)"><div>{{ board[0][0] }}</div></div>
  <div class="clue" (click)="clueClick(1,0)"><div>{{ board[1][0] }}</div></div>
  <div class="clue" (click)="clueClick(2,0)"><div>{{ board[2][0] }}</div></div>
  <div class="clue" (click)="clueClick(3,0)"><div>{{ board[3][0] }}</div></div>
  <div class="clue" (click)="clueClick(4,0)"><div>{{ board[4][0] }}</div></div>
  <div class="clue" (click)="clueClick(5,0)"><div>{{ board[5][0] }}</div></div>


  <div class="clue" (click)="clueClick(0,1)">{{ board[0][1] }}</div>
  <div class="clue" (click)="clueClick(1,1)">{{ board[1][1] }}</div>
  <div class="clue" (click)="clueClick(2,1)">{{ board[2][1] }}</div>
  <div class="clue" (click)="clueClick(3,1)">{{ board[3][1] }}</div>
  <div class="clue" (click)="clueClick(4,1)">{{ board[4][1] }}</div>
  <div class="clue" (click)="clueClick(5,1)">{{ board[5][1] }}</div>

  <div class="clue" (click)="clueClick(0,2)">{{ board[0][2] }}</div>
  <div class="clue" (click)="clueClick(1,2)">{{ board[1][2] }}</div>
  <div class="clue" (click)="clueClick(2,2)">{{ board[2][2] }}</div>
  <div class="clue" (click)="clueClick(3,2)">{{ board[3][2] }}</div>
  <div class="clue" (click)="clueClick(4,2)">{{ board[4][2] }}</div>
  <div class="clue" (click)="clueClick(5,2)">{{ board[5][2] }}</div>

  <div class="clue" (click)="clueClick(0,3)">{{ board[0][3] }}</div>
  <div class="clue" (click)="clueClick(1,3)">{{ board[1][3] }}</div>
  <div class="clue" (click)="clueClick(2,3)">{{ board[2][3] }}</div>
  <div class="clue" (click)="clueClick(3,3)">{{ board[3][3] }}</div>
  <div class="clue" (click)="clueClick(4,3)">{{ board[4][3] }}</div>
  <div class="clue" (click)="clueClick(5,3)">{{ board[5][3] }}</div>

  <div class="clue" (click)="clueClick(0,4)">{{ board[0][4] }}</div>
  <div class="clue" (click)="clueClick(1,4)">{{ board[1][4] }}</div>
  <div class="clue" (click)="clueClick(2,4)">{{ board[2][4] }}</div>
  <div class="clue" (click)="clueClick(3,4)">{{ board[3][4] }}</div>
  <div class="clue" (click)="clueClick(4,4)">{{ board[4][4] }}</div>
  <div class="clue" (click)="clueClick(5,4)">{{ board[5][4] }}</div>
</div>